#Models .name {
    width: 300px
}

#Models .options {
    width: 200px
}

#Models {
    border-collapse: separate;
    border-spacing: 0 1em;
}

#Models > tbody > tr {
    box-shadow: 3px 3px 3px 3px rgba(0,0,0, .5); 
}

#Models td {
    padding: 0.2em;
}

td.options {
    border-right: 1px dotted black;
}

#Models select {
    width: 100%;
}

.options table {
    border-collapse: separate;
}

.options table td {
    padding: 0.2em;
}

.link-icon {
    text-decoration: none !important;
}

.header .actions {
    text-align: right;
    padding-top: 3px;
}

.container {
    margin-top: 1em;
}